.watch {
  width: 100vw;
  height: 100vh;

  .back {
    display: flex;
    align-items: center;
    position: absolute;
    top: 30px;
    left: 40px;
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    z-index: 3;
    transition: 0.2s ease;

    &:hover {
      transform: scale(1.2);
    }

    .icon {
      margin-right: 7px;
      font-size: 20px;
    }
  }

  .video {
    width: 100%;
    height: 100%;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
