.home{
    // overflow-x: auto;
    background-color: rgb(20, 20, 20);
    .recommendedMovies{
        height: 1000px;
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,1));
    }
}