.notiCard{
    display: flex;
    align-items: center;
    height: 90px;
    padding: 0px 15px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.3);
    &:hover{
        background-color: black;
    }
    img{
        width: 112px;
        height: 62px;
        margin-right: 23px;
        cursor: pointer;
    }

    .about{
        font-size: 16px;
        line-height: 1.2;
        color: rgb(255, 255, 255, 0.7);
        .heading{
            cursor: pointer;
        }
        .detail{
            cursor: pointer;
        }
        .pastedTime{
            margin-top: 5px;
            font-size: 13px;
            color: rgb(255, 255, 255, 0.7);
            font-weight: 100;
        }
    }
}